<div class="flex-container">
    <mat-form-field appearance="outline" class="select-field">
        <mat-label>Pesquisar por</mat-label>
        <mat-select [(ngModel)]="tipoFiltro">
            <mat-option value="titulo">Título</mat-option>
            <mat-option value="autor">Autor</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
        <mat-label>Digite para pesquisar</mat-label>
        <input [(ngModel)]="filtro" matInput placeholder="Ex: Harry Potter" (keyup.enter)="filtrar()" />
    </mat-form-field>
    <button mat-icon-button color="primary" class="search-button" id="meuBotaoPesquisar" (click)="filtrar()">
        <mat-icon>search</mat-icon>
    </button>
</div>
<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()" class="cards-content">
        <img mat-card-image [src]="card.imageUrl">

        <div class="card-content">
            <mat-card-title class="centered-text">{{ card.titulo }}</mat-card-title>

            <mat-card-content class="centered-text">
                <strong>Autores:</strong> {{ card.autores }}
            </mat-card-content>
            
            <mat-card-content class="centered-text">
                {{ card.descricao | slice: 0:100 }}...
            </mat-card-content>
            
            <mat-card-content class="centered-text">
                <strong>Preço:</strong> {{ card.preco | currency: 'BRL' }}
            </mat-card-content>

            <mat-card-actions class="centered-text">
                <button mat-button color="primary" style="width: 100%; padding: 16px; text-align: center;">
                    <a [routerLink]="[ '/produto', card.formattedTitulo]">Ver Mais ...</a>
                </button>
            </mat-card-actions>

        </div>
        <mat-card-footer>
            <button mat-button color="accent" style="width: 100%; padding: 16px; text-align: center;">
                Adicionar ao Carrinho
            </button>
        </mat-card-footer>
    </mat-card>
</div>
<mat-paginator
        (page)="paginar($event)"
        [length]="totalRecords"
        [pageSize]="pageSize"
        [pageSizeOptions]="[10, 25, 50, 100]">
</mat-paginator>