<div class="container">
  <div class="content-container">
      <div class="first-line">
        <a mat-stroked-button href="../admin/livros">
          <mat-card>
            <mat-card-title>
              <span>Livros</span>
            </mat-card-title>
            <mat-card-content>
              <span>Gerencie e visualize todos os livros cadastrados em uma tabela organizada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../admin/editoras">
          <mat-card>
            <mat-card-title>
              <span>Editoras</span>
            </mat-card-title>
            <mat-card-content>
              <span>Acesse e administre todas as editoras disponíveis em uma tabela estruturada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../admin/boxes">
          <mat-card>
            <mat-card-title>
              <span>Boxes</span>
            </mat-card-title>
            <mat-card-content>
              <span>Visualize e organize todas as boxes listadas em uma tabela completa.</span>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="second-line">
        <a mat-stroked-button href="../admin/generos">
          <mat-card>
            <mat-card-title>
              <span>Gêneros</span>
            </mat-card-title>
            <mat-card-content>
              <span>Explore e gerencie os gêneros registrados em uma tabela detalhada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../admin/autores">
          <mat-card>
            <mat-card-title>
              <span>Autores</span>
            </mat-card-title>
            <mat-card-content>
              <span>Consulte e edite todos os autores cadastrados em uma tabela organizada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../admin/fornecedores">
          <mat-card>
            <mat-card-title>
              <span>Fornecedores</span>
            </mat-card-title>
            <mat-card-content>
              <span>Controle e veja os dados de todos os fornecedores em uma tabela prática.</span>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
  </div>
</div>