<!-- <mat-toolbar color="primary" class="toolbar mat-elevation-z3">
    <h1 class="titulo-pag">Controle</h1>
    <div class="icons-toolbar">
        <mat-icon class="cart" id="icones">shopping_cart</mat-icon>
        <a href="/clientes"><mat-icon class="account-circle" id="icones"> account_circle </mat-icon></a>
    </div>
</mat-toolbar>  -->
<div class="container">
  <div class="content-container">
      <div class="first-line">
        <a mat-stroked-button href="../admin/livros">
          <mat-card>
            <mat-card-title>
              <span>Livros</span>
            </mat-card-title>
            <mat-card-content>
              <span>Gerencie e visualize todos os livros cadastrados em uma tabela organizada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../admin/editoras">
          <mat-card>
            <mat-card-title>
              <span>Editoras</span>
            </mat-card-title>
            <mat-card-content>
              <span>Acesse e administre todas as editoras disponíveis em uma tabela estruturada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../boxes">
          <mat-card>
            <mat-card-title>
              <span>Boxes</span>
            </mat-card-title>
            <mat-card-content>
              <span>Visualize e organize todas as boxes listadas em uma tabela completa.</span>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="second-line">
        <a mat-stroked-button href="../generos">
          <mat-card>
            <mat-card-title>
              <span>Gêneros</span>
            </mat-card-title>
            <mat-card-content>
              <span>Explore e gerencie os gêneros registrados em uma tabela detalhada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../autores">
          <mat-card>
            <mat-card-title>
              <span>Autores</span>
            </mat-card-title>
            <mat-card-content>
              <span>Consulte e edite todos os autores cadastrados em uma tabela organizada.</span>
            </mat-card-content>
          </mat-card>
        </a>
        <a mat-stroked-button href="../fornecedores">
          <mat-card>
            <mat-card-title>
              <span>Fornecedores</span>
            </mat-card-title>
            <mat-card-content>
              <span>Controle e veja os dados de todos os fornecedores em uma tabela prática.</span>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
  </div>
</div>