<div class="container" *ngIf="box">
    <div class="imagem-box">
        <img mat-card-image [src]="getImageUrl(box.nomeImagem)" alt="{{ box.nome }}">
    </div>
    <div class="box-content">
      <div class="box-data">
        <div class="nome-box">
          <mat-card-title>{{ box.nome }}</mat-card-title>
        </div>
        <div class="preco">
          <p>{{ box.preco | currency: 'BRL' }}</p>
        </div>
        <div class="descricao">
          <strong>Descrição:</strong> 
          <p>{{ box.descricaoBox }}</p>
        </div>
        <div class="editora">
          <p><strong>Editora: </strong>{{box.editora.nome}}</p>
        </div>
        <div class="quantidade-estoque">
          <p><strong>Quantidade em estoque: </strong>{{box.quantidadeEstoque}}</p>
        </div>
        <div class="autores" >
          <p *ngIf="box.autores && box.autores.length"><strong>Autores:</strong> {{ autoresFormatados }}</p>
        </div>
        <div class="classificacao">
          <p><strong>Classificação: </strong> {{box.classificacao.descricao}}</p>
        </div>
  
        <div class="compra">
          <mat-form-field appearance="outline" class="counter-field">
            <button mat-icon-button matPrefix (click)="decrement()" class="counter-button">
              <mat-icon>remove</mat-icon>
            </button>
          
            <input matInput type="text" [value]="count" readonly class="counter-input">
          
            <button mat-icon-button matSuffix (click)="increment()" class="counter-button">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
          <div class="carrinho">
            <section>
              <div class="example-button-row">
                <button mat-stroked-button class="botao-carrinho" (click)="adicionarAoCarrinho()">Adicionar no carrinho</button>
              </div>
            </section>
          </div>  
        </div>
        <mat-divider></mat-divider>
        <div class="cep">
          <mat-form-field class="mat-form-cep" appearance="outline">
            <mat-label>CEP</mat-label>
            <mat-icon matPrefix>local_shipping</mat-icon>
            <input matInput placeholder="000000-000">
          </mat-form-field>
          <button mat-stroked-button class="botao-frete">Calcular Frete</button>
        </div>
      </div>
    </div>
    
  </div>