.example-spacer {
    /* Pegando do componente */
    flex: 1 1 auto;
}

.toolbar-title {
    flex: 1;
    margin-left: 28%;
    font-size: 24px;
    color: #fcfcfc
}

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.material-icons{

}

.mat-column-name {
    width: 100%;
}

.mat-column-sigla {
    text-align: center;
    width: 5em;
}

.mat-column-acao {
    text-align: center;
    min-width: 10em;
}

table {
    width: 100%;
}

.search-component{
    display: flex;
    margin-top: 20px;
    margin-left: 3%;
}

.column{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.toolbar{
    background-color: #6B5852;
}

.data{
    text-align: center;
    font-family: sans-serif;
}
