.cadastrar{
    display: flex;
    font-size: 30px;
    justify-content: center;
    letter-spacing: 5px;
    font-weight: 500;
    margin-left: 2.9%;
    color: black;
}

.flex-container .search-container {
    background-color: #e8e1cc; /* Cor de fundo similar à mostrada */
    padding: 10px;
    border-radius: 25px; /* Arredonda as bordas da caixa */
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex-container .search-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    letter-spacing: 2px;
    color: #333;
    padding: 5px;
}


.formulario{
    padding: 20px;
    box-shadow: 4px 4px 7px gray;
    border: 3px solid black;
}

.container{
    display: flex;
    background-color: #f7f6e3;
}

/* Flex container para organizar elementos */
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.toolbar{
    background-color: #F5F5F5;
}

/* Estilo do botão do menu */
.menu-button {
    font-size: 15px;
    background-color: black;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
}

.form_interno{
    margin-bottom: 8px;
}

/* Estilo para o botão de adicionar */
.mat-fab {
    color: #fff;
    width: 35px;
    height: 35px;
    font-size: 20px;
    margin-left: 40px; /* Espaçamento entre "Cadastrar" e "Add" */
}

/* Estilo para o formulário e os inputs */
.full-width-input {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 0 auto;
}

mat-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #f9f9f9; /* Fundo claro para o card */
    border-radius: 12px;
}

/* Estilo dos botões no final do formulário */
mat-card-actions {
    display: flex;
    justify-content: flex-end;
}

.material-icons{
    margin-top: 10px;
    margin-left: 20px;
    color: black;
}

button[mat-raised-button] {
    width: 120px;
    margin-right: 1rem;
}

button[mat-raised-button].cancel-button {
    background-color: #eaede6;
}

button[mat-raised-button].save-button {
    background-color: #eaede6;
}

button[mat-raised-button].excluir-button {
    background-color: #eaede6;
}

/* Estilo para campos de telefone */
.phone-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espaço entre os campos */
}

.area-code-input {
    width: 30%; /* Campo de código de área ocupa 30% do espaço */
}

.phone-number-input {
    width: 70%; /* Campo de número de telefone ocupa 70% do espaço */
}

/* Garantir que o layout geral do formulário permaneça inalterado */
.full-width-input {
    width: 100%;
    margin-bottom: 20px;
}
