<mat-toolbar color="primary" class="toolbar">
    <div class="flex-container">
        <span class="toolbar-title">Cadastro de Fornecedores</span>
        <button mat-button [matMenuTriggerFor]="menu" class="menu-button">Cadastrar</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navService.livro()">Livros</button>
            <button mat-menu-item (click)="navService.autor()">Autores</button>
            <button mat-menu-item (click)="navService.editora()">Editora</button>
            <button mat-menu-item (click)="navService.genero()">Gênero</button>
            <button mat-menu-item (click)="navService.box()">Box</button>
        </mat-menu>
     </div>
</mat-toolbar>

<div>
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')
                                    && formGroup.get('nome')?.invalid 
                                    && formGroup.get('nome')?.touched">
                            {{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>CNPJ</mat-label>
                    <input matInput type="text" formControlName="cnpj">
                    <mat-error *ngIf="formGroup.get('cnpj')
                                    && formGroup.get('cnpj')?.invalid 
                                    && formGroup.get('cnpj')?.touched">
                            {{ getErrorMessage('cnpj', formGroup.get('cnpj')?.errors)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Inscricao Estadual</mat-label>
                    <input matInput type="text" formControlName="inscricaoEstadual">
                    <mat-error *ngIf="formGroup.get('inscricaoEstadual')
                                    && formGroup.get('inscricaoEstadual')?.invalid 
                                    && formGroup.get('inscricaoEstadual')?.touched">
                            {{ getErrorMessage('inscricaoEstadual', formGroup.get('inscricaoEstadual')?.errors)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error *ngIf="formGroup.get('email')
                                    && formGroup.get('email')?.invalid 
                                    && formGroup.get('email')?.touched">
                            {{ getErrorMessage('email', formGroup.get('email')?.errors)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Qnt. Livros Fornecidos</mat-label>
                    <input matInput type="number" formControlName="quantLivrosFornecido">
                    <mat-error *ngIf="formGroup.get('quantLivrosFornecido')
                                    && formGroup.get('quantLivrosFornecido')?.invalid 
                                    && formGroup.get('quantLivrosFornecido')?.touched">
                            {{ getErrorMessage('quantLivrosFornecido', formGroup.get('quantLivrosFornecido')?.errors)}}
                    </mat-error>
                </mat-form-field>
                <div formGroupName="telefone">
                    <div class="full-width-input phone-fields">
                        <mat-form-field appearance="fill" class="area-code-input">
                            <mat-label>Código de Área</mat-label>
                            <input matInput type="text" formControlName="codigoArea">
                            <mat-error *ngIf="formGroup.get('telefone')?.get('codigoArea')
                                                && formGroup.get('telefone')?.get('codigoArea')?.invalid  
                                                && formGroup.get('telefone')?.get('codigoArea')?.touched">
                                {{ getErrorMessage('telefone.codigoArea', formGroup.get('telefone')?.get('codigoArea')?.errors) }}
                            </mat-error>
                        </mat-form-field>
                
                        <mat-form-field appearance="fill" class="phone-number-input">
                            <mat-label>Número de Telefone</mat-label>
                            <input matInput type="text" formControlName="numero">
                            <mat-error *ngIf="formGroup.get('telefone')?.get('numero')?.invalid 
                                                && formGroup.get('telefone')?.get('numero') 
                                                && formGroup.get('telefone')?.get('numero')?.touched">
                                {{ getErrorMessage('telefone.numero', formGroup.get('telefone')?.get('numero')?.errors) }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" formControlName="estado">
                    <mat-error *ngIf="formGroup.get('estado')
                                    && formGroup.get('estado')?.invalid 
                                    && formGroup.get('estado')?.touched">
                            {{ getErrorMessage('estado', formGroup.get('estado')?.errors)}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Cidade</mat-label>
                    <input matInput type="text" formControlName="cidade">
                    <mat-error *ngIf="formGroup.get('cidade')
                                    && formGroup.get('cidade')?.invalid 
                                    && formGroup.get('cidade')?.touched">
                            {{ getErrorMessage('cidade', formGroup.get('cidade')?.errors)}}
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="cancel-button" (click)="cancelar()" routerLink="/fornecedores">Cancelar</button>
            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" class="cancel-button" (click)="excluir()">Excluir</button>
            <button mat-raised-button class="save-button" (click)="salvar()">Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>