.container-content{
    flex: 1;
}

.container{
    display: flex;
    min-height: 100vh;
}

.footer{
    bottom: 0;
    width: 100%;
    text-align: center;
}

.toolbar-title {
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 500;
}

.container-title{
    position: relative;
}

.icons-container{
    justify-content: space-around;
    flex-direction: column;
}

.icons-container button{
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #e0e0e0; /* Cor ao passar o mouse */
  }

.flex-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}



.mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-name {
    width: 100%;
}

.mat-column-sigla {
    text-align: center;
    width: 5em;
}

.mat-column-acao {
    text-align: center;
    min-width: 10em;
}

table {
    width: 100%;
}

.data{
    text-align: center;
    font-family: sans-serif;
}

.desc{
    text-align: justify;
}

.container-button{
    position: absolute;
    right: 0;
    margin-right: 25px;
}

.add-circle{
    font-size: 35px;
    padding: 15px;
    color: white;
}

.search-component{
    display: flex;
    margin-top: 20px;
    margin-left: 3%;
}

.column{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

.toolbar{
    background-color: #6B5852;
}

.mat-mdc-paginator{
    display: flex;
    justify-content: center;
}


mat-form-field {
    display: flex;
    align-items: center;
    border-radius: 4px; /* Alinha com as bordas do input */
    width: 100vh;
    margin-left: 2%;
    background-color: #fff;
    height: 55px;
}

.search {
    width: 50vh;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.mat-form-field-wrapper {
    padding-right: 0; /* Remove o padding extra no lado direito */
}

input[type="text"]::-ms-clear {
    display: none;
}

input[type="text"]::-webkit-search-cancel-button {
    display: none;
}