<!-- <div class="container">
    <h1>Cadastro de Cliente</h1>
    <form (submit)="cadastrar()">
      <label>Nome</label>
      <input [(ngModel)]="cliente.usuario.nome" required />
      <label>Usuário</label>
      <input [(ngModel)]="cliente.usuario.username" required />
      <label>Email</label>
      <input [(ngModel)]="cliente.usuario.email" type="email" required />
      <label>Senha</label>
      <input [(ngModel)]="cliente.usuario.username" type="password" required />
      <label>CPF</label>
      <input [(ngModel)]="cliente.usuario.cpf" required />
      <label>CEP</label>
      <input [(ngModel)]="cliente.cep" />
      <label>Logradouro</label>
      <input [(ngModel)]="cliente.logradouro" />
      <label>Bairro</label>
      <input [(ngModel)]="cliente.bairro" />
      <label>Localidade</label>
      <input [(ngModel)]="cliente.localidade" />
      <label>UF</label>
      <input [(ngModel)]="cliente.uf" />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
   -->