.campos-cadastro{
    display: grid;
    border: 1px solid #353535;
    padding: 20px;
    width: 50%;
    border-radius: 30px;  
}

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de largura igual */
    gap: 16px; /* Espaçamento entre os campos */
  }
  
  .campos {
    width: 100%; /* Garantir que os campos ocupem o espaço da célula */
  }
  
  .botao-cadastrar {
    margin-left: 37.5%;
    background-color: transparent;
    font-size: 25px;
    width: 25%;
    height: 100%;
    border-radius: 20px;
    grid-column: span 2; /* Botão ocupa as duas colunas */
    text-align: center;
    cursor: pointer;
  }

  .botao-cadastrar:hover {
    background-color: #353535;
    color: white;
  }