<div class="container">
  <h1>Cadastro de cliente</h1>
  <div class="campos-cadastro">
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()" class="grid-form">
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome" required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required [disabled]="true">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>CPformatarCpfF</mat-label>
        <input 
          matInput 
          formControlName="cpf" 
          required 
          [value]="cadastroForm.get('cpf')?.value | formatarCpf"
        >
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" required (blur)="onCepBlur()">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro" [disabled]="true">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro" [disabled]="true">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>Localidade</mat-label>
        <input matInput formControlName="localidade" [disabled]="true">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%" class="campos">
        <mat-label>UF</mat-label>
        <input matInput formControlName="uf" [disabled]="true">
      </mat-form-field>
      <button type="submit" class="botao-cadastrar">Cadastrar</button>
    </form>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </div>
</div>