<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer opened #drawer mode="over" [style.width]="sideNavWidth()" style="overflow-x: hidden;">
    <mat-list>
      <button mat-button (click)="collapsed.set(!collapsed())" class="menu-button">
        <mat-list-item>
          <mat-icon matListItemIcon>menu</mat-icon>
        </mat-list-item>
      </button>
      <div class="opcao">
        <a href="../">
          <button mat-button>
            <mat-list-item>
              <mat-icon matListItemIcon>home</mat-icon>
              <span matListItemTitle>Home</span>
            </mat-list-item>
          </button>
        </a>
      </div>
      <div class="opcao">
        <a href="../clientes">
          <button mat-button>
            <mat-list-item>
              <mat-icon matListItemIcon>people</mat-icon>
              <span matListItemTitle>Usuários</span>
            </mat-list-item>
          </button>
        </a>
      </div>
      <div class="opcao">
        <a href="../admin/controle">
          <button mat-button>
            <mat-list-item>
              <mat-icon matListItemIcon>sports_esports</mat-icon>
              <span matListItemTitle>Controle</span>
            </mat-list-item>
          </button>
        </a>
      </div>
      <div class="opcao">
        <a href="../home">
          <button mat-button>
            <mat-list-item>
              <mat-icon matListItemIcon>person</mat-icon>
              <span matListItemTitle>Visão user</span>
            </mat-list-item>
          </button>
        </a>
      </div>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-button (click)="drawer.toggle()" class="menu-button" [style.width]="sideNavWidth()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>