<mat-toolbar color="primary" class="toolbar mat-elevation-z3">
    <button (click)="clickMenu()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="titulo-pag">Cantinho dos livros</h1>
    <div class="icons-toolbar">
        <div class="icon-with-label">
            <mat-icon class="icon">favorite_border</mat-icon>
            <span class="icon-label">Minhas Listas</span>
        </div>
        <div class="icon-with-label">
            <mat-icon class="icon">person</mat-icon>
            <span class="icon-label">Entrar</span>
            <mat-icon class="dropdown-arrow">keyboard_arrow_down</mat-icon>
        </div>
        <div class="icon-with-label">
            <mat-icon class="icon">shopping_cart</mat-icon>
            <span class="icon-label">Carrinho</span>
        </div>
    </div>
</mat-toolbar>
