<div class="container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" class="formulario">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome" class="nome">
                    <mat-error *ngIf="formGroup.get('nome')
                                    && formGroup.get('nome')?.invalid
                                    && formGroup.get('nome')?.touched">
                            {{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}

                        @if(formGroup.get('nome')?.hasError('apiError')){
                            <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username" class="username">
                    <mat-error *ngIf="formGroup.get('username')
                                    && formGroup.get('username')?.invalid
                                    && formGroup.get('username')?.touched">
                            {{ getErrorMessage('username', formGroup.get('username')?.errors) }}

                        @if(formGroup.get('username')?.hasError('apiError')){
                            <span>{{formGroup.get('username')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" class="email">
                    <mat-error *ngIf="formGroup.get('email')
                                    && formGroup.get('email')?.invalid
                                    && formGroup.get('email')?.touched">
                            {{ getErrorMessage('email', formGroup.get('email')?.errors) }}

                        @if(formGroup.get('email')?.hasError('apiError')){
                            <span>{{formGroup.get('email')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Data de Nascimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formGroup.get('dataNascimento')
                                    && formGroup.get('dataNascimento')?.invalid
                                    && formGroup.get('dataNascimento')?.touched">
                            {{ getErrorMessage('dataNascimento', formGroup.get('dataNascimento')?.errors) }}

                            @if(formGroup.get('dataNascimento')?.hasError('apiError')){
                                <span>{{formGroup.get('dataNascimento')?.getError('apiError')}}</span>
                            }
                    </mat-error>
                </mat-form-field>
                <div formGroupName="telefone">
                    <div class="full-width-input phone-fields">
                        <mat-form-field appearance="outline" class="area-code-input" class="codigo-area">
                            <mat-label>Código de Área</mat-label>
                            <input matInput type="text" formControlName="codigoArea">
                            <mat-error *ngIf="formGroup.get('telefone')?.get('codigoArea')
                                                && formGroup.get('telefone')?.get('codigoArea')?.invalid  
                                                && formGroup.get('telefone')?.get('codigoArea')?.touched">
                                {{ getErrorMessage('telefone.codigoArea', formGroup.get('telefone')?.get('codigoArea')?.errors) }}
                            
                                 <!-- Error Back-->
                                @if(formGroup.get('telefone.codigoArea')?.hasError('apiError')) {
                                    <span>{{formGroup.get('telefone.codigoArea')?.getError('apiError')}}</span> 
                                }
                            </mat-error>
                        </mat-form-field>
                
                        <mat-form-field appearance="outline" class="phone-number-input">
                            <mat-label>Número de Telefone</mat-label>
                            <input matInput type="text" formControlName="numero">
                            <mat-error *ngIf="formGroup.get('telefone')?.get('numero')?.invalid 
                                                && formGroup.get('telefone')?.get('numero') 
                                                && formGroup.get('telefone')?.get('numero')?.touched">
                                {{ getErrorMessage('telefone.numero', formGroup.get('telefone')?.get('numero')?.errors) }}
                            
                                 <!-- Error Back-->
                                @if(formGroup.get('telefone.numero')?.hasError('apiError')) {
                                    <span>{{formGroup.get('telefone.numero')?.getError('apiError')}}</span> 
                                }
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>CPF</mat-label>
                    <input matInput type="text" formControlName="cpf" class="cpf">
                    <mat-error *ngIf="formGroup.get('cpf')
                                    && formGroup.get('cpf')?.invalid
                                    && formGroup.get('cpf')?.touched">
                            {{ getErrorMessage('cpf', formGroup.get('cpf')?.errors) }}

                        @if(formGroup.get('cpf')?.hasError('apiError')){
                            <span>{{formGroup.get('cpf')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>CEP</mat-label>
                    <input matInput type="text" formControlName="cep">
                    <mat-error *ngIf="formGroup.get('cep')
                                    && formGroup.get('cep')?.invalid
                                    && formGroup.get('cep')?.touched">
                            {{ getErrorMessage('cep', formGroup.get('cep')?.errors) }}

                        @if(formGroup.get('cep')?.hasError('apiError')){
                            <span>{{formGroup.get('cep')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Logradouro</mat-label>
                    <input matInput type="text" formControlName="logradouro">
                    <mat-error *ngIf="formGroup.get('logradouro')
                                    && formGroup.get('logradouro')?.invalid
                                    && formGroup.get('logradouro')?.touched">
                            {{ getErrorMessage('logradouro', formGroup.get('logradouro')?.errors) }}

                        @if(formGroup.get('logradouro')?.hasError('apiError')){
                            <span>{{formGroup.get('logradouro')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Complemento</mat-label>
                    <input matInput type="text" formControlName="complemento">
                    <mat-error *ngIf="formGroup.get('complemento')
                                    && formGroup.get('complemento')?.invalid
                                    && formGroup.get('complemento')?.touched">
                            {{ getErrorMessage('complemento', formGroup.get('complemento')?.errors) }}

                        @if(formGroup.get('complemento')?.hasError('apiError')){
                            <span>{{formGroup.get('complemento')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Bairro</mat-label>
                    <input matInput type="text" formControlName="bairro">
                    <mat-error *ngIf="formGroup.get('bairro')
                                    && formGroup.get('bairro')?.invalid
                                    && formGroup.get('bairro')?.touched">
                            {{ getErrorMessage('bairro', formGroup.get('bairro')?.errors) }}

                        @if(formGroup.get('bairro')?.hasError('apiError')){
                            <span>{{formGroup.get('bairro')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Localidade</mat-label>
                    <input matInput type="text" formControlName="localidade">
                    <mat-error *ngIf="formGroup.get('localidade')
                                    && formGroup.get('localidade')?.invalid
                                    && formGroup.get('localidade')?.touched">
                            {{ getErrorMessage('localidade', formGroup.get('localidade')?.errors) }}

                        @if(formGroup.get('localidade')?.hasError('apiError')){
                            <span>{{formGroup.get('localidade')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Uf</mat-label>
                    <input matInput type="text" formControlName="uf">
                    <mat-error *ngIf="formGroup.get('uf')
                                    && formGroup.get('uf')?.invalid
                                    && formGroup.get('uf')?.touched">
                            {{ getErrorMessage('uf', formGroup.get('uf')?.errors) }}
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('uf')?.hasError('apiError')">
                        <span>{{ formGroup.get('nome')?.getError('apiError') }}</span>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="cancel-button" (click)="cancelar()">Cancelar</button>
            <button mat-rasied-button *ngIf="formGroup?.get('id')?.value" class="excluir-button" (click)="excluir()" [disabled]="formGroup.invalid">Excluir</button>
            <button mat-raised-button class="save-button" (click)="salvar()" [routerLink]="'/admin/viewClients'">Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>