<mat-drawer-container hasBackdrop="false" [style.flex]="1">
  <mat-drawer class="sidebar" #drawer mode="side" hasB *ngIf="usuarioLogado ? 'opened' : ''" [style.width]="'130px'">
    <mat-toolbar>
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list>
      <div class="opcao">
        <mat-list-item class="custom-list-item" [routerLink]="'../home'">
          <mat-icon matListItemIcon>home</mat-icon>
          <span matListItemTitle>Home</span>
        </mat-list-item>
      </div>
      <div class="opcao">
        <mat-list-item class="custom-list-item" [routerLink]="'../admin/viewUsers'">
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Usuários</span>
        </mat-list-item>
      </div>
      <div class="opcao">
        <mat-list-item class="custom-list-item" [routerLink]="'../admin/controle'">
          <mat-icon matListItemIcon>sports_esports</mat-icon>
          <span matListItemTitle>Controle</span>
        </mat-list-item>
      </div>
      <div class="opcao">
        <mat-list-item class="custom-list-item">
          <mat-icon matListItemIcon>add</mat-icon>
        
          <button mat-button [matMenuTriggerFor]="menu" class="menu-button">Cadastrar</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navService.livro()">Livros</button>
            <button mat-menu-item (click)="navService.box()">Box</button>
            <button mat-menu-item (click)="navService.autor()">Autores</button>
            <button mat-menu-item (click)="navService.genero()">Gênero</button>
            <button mat-menu-item (click)="navService.fornecedor()">Fornecedores</button>
            <button mat-menu-item (click)="navService.editora()">Editoras</button>
        </mat-menu>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>