table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  .botao{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

.caixa_pesquisa{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.text_titulo{
    letter-spacing: 3px;
    margin-top: 1%;
    text-align: center;
}

.button{
  background-color: transparent;
  border: none;
  color: rgb(115, 222, 105);
  cursor: pointer;
}