<mat-toolbar color="primary" class="toolbar">
    <div class="flex-container">
        <span class="toolbar-title">Controle de Boxes</span>
        <span class="material-symbols-outlined">
          <a href="/boxes/new"><mat-icon class="add-circle"> add_circle </mat-icon></a>
      </span>
    </div>
</mat-toolbar>

<mat-toolbar class="icons-container">
  <div class="sub-menu">
    <button mat-button routerLink="/livros" class="botao">
      <mat-icon>menu_book</mat-icon> <!-- Ícone de livros -->
      Livros
    </button>
    <button mat-button routerLink="/editoras" class="botao">
      <mat-icon>business</mat-icon> <!-- Ícone de editoras -->
      Editoras
    </button>
    <button mat-button routerLink="/boxes" class="botao">
      <mat-icon>archive</mat-icon> <!-- Ícone de boxes -->
      Boxes
    </button>
    <button mat-button routerLink="/generos" class="botao">
      <mat-icon>category</mat-icon> <!-- Ícone de gêneros -->
      Gêneros
    </button>
    <button mat-button routerLink="/autores" class="botao">
      <mat-icon>person</mat-icon> <!-- Ícone de autores -->
      Autores
    </button>
    <button mat-button routerLink="/fornecedores" class="botao">
      <mat-icon>local_shipping</mat-icon> <!-- Ícone de fornecedores -->
      Fornecedores
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="boxes" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="column"> No. </th>
        <td mat-cell *matCellDef="let box"><p>{{box.id}}</p></td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="column"> Nome </th>
        <td mat-cell *matCellDef="let box"><p class="text-column">{{box.nome}}</p></td>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="descricaoBox">
        <th mat-header-cell *matHeaderCellDef class="column"> Descrição </th>
        <td mat-cell *matCellDef="let box"><p class="desc">{{box.descricaoBox}}</p></td>
    </ng-container>

    <!-- Quantidade Column -->
     <ng-container matColumnDef="quantidadeEstoque">
        <th mat-header-cell *matHeaderCellDef class="column"> Qtd. Estoque </th>
        <td mat-cell *matCellDef="let box"><p class="text-column">{{box.quantidadeEstoque}}</p></td>
     </ng-container>

          <!-- Fornecedor Column -->
      <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef class="column"> Fornecedor </th>
        <td mat-cell *matCellDef="let box"><p class="text-column">{{box.fornecedor.nome}}</p></td>
      </ng-container>

        <!-- Editora Column -->
      <ng-container matColumnDef="editora">
        <th mat-header-cell *matHeaderCellDef class="column"> Editora </th>
        <td mat-cell *matCellDef="let box"><p class="text-column">{{box.editora.nome}}</p></td>
      </ng-container>

   <!-- Preço Column -->
    <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef class="column">Preço</th>
        <td mat-cell *matCellDef="let box"><p class="text-column">R${{box.preco}}</p></td>
    </ng-container>

         <!-- Classificação Column -->
      <ng-container matColumnDef="classificacao">
        <th mat-header-cell *matHeaderCellDef class="column"> Classificação </th>
        <td mat-cell *matCellDef="let box"><p class="text-column">{{box.classificacao.descricao}}</p></td>
      </ng-container>

     <!-- Genero Column -->
     <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef class="column"> Gênero </th>
        <td mat-cell *matCellDef="let box"> 
          <span *ngFor="let genero of box.generos"><p class="text-column">{{genero.nome}},</p></span>
        </td>
      </ng-container>
    
     <!-- Autor Column -->
     <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef class="column"> Autor </th>
        <td mat-cell *matCellDef="let box"> 
          <span *ngFor="let box of box.autores"><p class="text-column">{{box.nome}},</p></span>
        </td>
      </ng-container>

    <!-- ação Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef class="column"> Ação </th>
      <td mat-cell *matCellDef="let box"> 
          <button mat-icon-button color="primary" routerLink="/boxes/edit/{{box.id}}">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="excluir(box)">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Colunas que serao exibidas-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>