<mat-toolbar color="primary">
    <div class="flex-container">
        <span class="toolbar-title">Controle de Boxes</span>
        <button mat-fab color="accent" routerLink="/boxes/new">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-toolbar>

<table mat-table [dataSource]="boxes" class="mat-elevation-z8">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let box"> {{box.id}} </td>
    </ng-container>

    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let box"><p id="nome">{{box.nome}}</p></td>
    </ng-container>

    <!-- Descricao Column -->
    <ng-container matColumnDef="descricaoBox">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let box"><p id="desc">{{box.descricaoBox}}</p></td>
    </ng-container>

    <!-- Quantidade Column -->
     <ng-container matColumnDef="quantidadeEstoque">
        <th mat-header-cell *matHeaderCellDef> Qtd. Estoque </th>
        <td mat-cell *matCellDef="let box"> {{box.quantidadeEstoque}} </td>
     </ng-container>

          <!-- Fornecedor Column -->
      <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
        <td mat-cell *matCellDef="let box"><p id="forn">{{box.fornecedor.nome}}</p></td>
      </ng-container>

        <!-- Editora Column -->
      <ng-container matColumnDef="editora">
        <th mat-header-cell *matHeaderCellDef> Editora </th>
        <td mat-cell *matCellDef="let box"><p id="edit">{{box.editora.nome}}</p></td>
      </ng-container>

   <!-- Preço Column -->
    <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let box">R${{box.preco}}</td>
    </ng-container>

         <!-- Classificação Column -->
      <ng-container matColumnDef="classificacao">
        <th mat-header-cell *matHeaderCellDef> Classificação </th>
        <td mat-cell *matCellDef="let box"><p id="classificacao">{{box.classificacao.descricao}}</p></td>
      </ng-container>

     <!-- Genero Column -->
     <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef> Gênero </th>
        <td mat-cell *matCellDef="let box"> 
          <span *ngFor="let genero of box.generos">{{genero.nome}},  </span>
        </td>
      </ng-container>
    
     <!-- Autor Column -->
     <ng-container matColumnDef="autor">
        <th mat-header-cell *matHeaderCellDef> Autor </th>
        <td mat-cell *matCellDef="let box"> 
          <span *ngFor="let box of box.autores">{{box.nome}}, </span>
        </td>
      </ng-container>

    <!-- ação Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let box"> 
          <button mat-icon-button color="primary" routerLink="/boxes/edit/{{box.id}}">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="excluir(box)">
              <mat-icon>delete</mat-icon>
          </button>
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--Colunas que serao exibidas-->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>