.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;

    & .card-alterar-username{
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    & button{
        margin-bottom: 10px;
    }

    & button:hover{
        background-color: rgb(174, 174, 247);
        transition: background-color 0.9s ease, transform 0.2s ease; /* Transição suave de cor e transformação */
        transform: scale(1.1);
    }

    & .logo{
        width: 180px;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    & .titulo-pagina{
        font-size: 30px;
        margin-bottom: 3%;
        text-align: center;
        letter-spacing: 8px;
        word-spacing: 2px;
    }

    & .navegacao_dados{
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        width: 29vh;
        height: 36vh;
        cursor: pointer;
    }

}

