<h1>a</h1>

<!-- <div class="container" *ngIf="livro">
    <mat-card>
      <img mat-card-image [src]="getImageUrl(livro.nomeImagem)" alt="{{ livro.titulo }}">
      <mat-card-title>{{ livro.titulo }}</mat-card-title>
      <mat-card-content>
        <p *ngIf="livro.autores && livro.autores.length"><strong>Autores:</strong> {{ autoresFormatados }}</p>
        <p><strong>Descrição:</strong> {{ livro.descricao }}</p>
        <p><strong>Preço:</strong> {{ livro.preco | currency: 'BRL' }}</p>
      </mat-card-content>
    </mat-card>
  </div> -->