 /* Container principal */
 .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Área do conteúdo do livro */
.livro-content {
    display: flex;
}

img{
    width: 300px;
    padding: 30px;
}

.cep{
    display: flex;
    justify-content: end;
    width: 70.5%;
    align-items: center;
    margin-top: 1%;
    gap: 20px;
}

.botao-frete{
    width: 50%;
    height: 73%;
    border: 1px solid black;
    background-color: var(--color-button);
    margin-bottom: 6.2%;
}

.compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.botao-carrinho{
    width: 100%;
    height: 55px;
    border: 1px solid black;
    background-color: var(--color-button);
    margin-bottom: 11%;
}

.livro-data{
    margin-top: 7%;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

    & .preco{
        font-size: 25px;
        margin-top: 5%;
    }
    & .titulo-livro{
        font-size: 25px;
    }

    & .descricao{
        font-size: 15px;
    }

    & .editora{
        font-size: 15px;
    }

    & .isbn{
        font-size: 15px;
    }

    & .autores{
        font-size: 15px;
    }

    & .quantidade-estoque{
        font-size: 15px;
    }

    & .classificacao{
        font-size: 15px;
    }
}

section {
    display: table;
}

.counter-field {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
}

.counter-input {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center;
    width: 40px; /* Largura fixa */
    height: 36px; /* Altura padrão */
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    box-sizing: border-box;
}

.counter-field .counter-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-estrelas {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilo da linha de separação */
.divider {
  display: flex;
  border: none;
  border-top: 2px solid #302f2f;
  margin: 20px 0;
}

/* Seção de Avaliações */
.avaliacoes-container {
  margin-top: 20px;
  margin-left: 20px; /* Mover as avaliações para o lado esquerdo */
}

.estrelas {
    display: flex;
    gap: 5px;
}

.estrela-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
}

.avaliacao-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.avaliacao {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.avaliacoes-container h3 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.enviar-button {
    margin-left: 20px;
    padding: 10px 20px;
    right: -300px;
    position: relative;
  }

.avaliacoes-side {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .delete-button {
    display: flex;
    bottom: 10px;
    right: -440px;
    position: relative;
    background-color: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 24px;
  }

  .delete-button mat-icon {
    font-size: 24px;
  }

  .frete-mensagem {
   
    font-size: 14px;
    color: #0ab810; /* Verde para mensagens positivas */
  }
