<mat-toolbar color="primary" class="toolbar">
    <div class="flex-container">
        <div>
            <span class="material-symbols-outlined">
                <a href="/admin/boxes"><i class="material-icons"> arrow_back </i></a>
            </span>
        </div>
        <span class="cadastrar">Cadastro de boxes</span>
        <button mat-button [matMenuTriggerFor]="menu" class="menu-button">Cadastrar</button>
        <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navService.livro()">Livros</button>
                <button mat-menu-item (click)="navService.box()">Box</button>
                <button mat-menu-item (click)="navService.autor()">Autores</button>
                <button mat-menu-item (click)="navService.genero()">Gênero</button>
                <button mat-menu-item (click)="navService.fornecedor()">Fornecedores</button>
                <button mat-menu-item (click)="navService.editora()">Editoras</button>
            </mat-menu>
        </div>
    </mat-toolbar>
    
<div class="container">
    <mat-card class="formulario">
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label> Nome </mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')
                                    && formGroup.get('nome')?.invalid 
                                    && formGroup.get('nome')?.touched">
                            {{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}

                             <!-- Error Back-->
                        @if(formGroup.get('nome')?.hasError('apiError')) {
                            <span>{{formGroup.get('nome')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput formControlName="descricaoBox"></textarea>
                    <mat-error *ngIf="formGroup.get('descricaoBox')
                                    && formGroup.get('descricaoBox')?.invalid 
                                    && formGroup.get('descricaoBox')?.touched">
                            {{ getErrorMessage('descricaoBox', formGroup.get('descricaoBox')?.errors)}}

                             <!-- Error Back-->
                        @if(formGroup.get('descricaoBox')?.hasError('apiError')) {
                            <span>{{formGroup.get('descricaoBox')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Qdt. em Estoque</mat-label>
                    <input matInput type="number" formControlName="quantidadeEstoque">
                    <mat-error *ngIf="formGroup.get('quantidadeEstoque')
                                    && formGroup.get('quantidadeEstoque')?.invalid 
                                    && formGroup.get('quantidadeEstoque')?.touched">
                            {{ getErrorMessage('quantidadeEstoque', formGroup.get('quantidadeEstoque')?.errors)}}
                    
                         <!-- Error Back-->
                         @if(formGroup.get('quantidadeEstoque')?.hasError('apiError')) {
                            <span>{{formGroup.get('quantidadeEstoque')?.getError('apiError')}}</span> 
                         }

                    </mat-error>
                </mat-form-field>
                
                <!--Fornecedor-->
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Fornecedor</mat-label>
                    <mat-select formControlName="fornecedor">
                        @for (fornecedor of fornecedores; track fornecedor.id) {
                        <mat-option [value]="fornecedor">
                            {{fornecedor.nome}}
                        </mat-option>
                        }
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('fornecedor')
                                    && formGroup.get('fornecedor')?.invalid
                                    && formGroup.get('fornecedor')?.touched">
                                    {{getErrorMessage('fornecedor', formGroup.get('fornecedor')?.errors)}}
                   
                   
                                     <!-- Error Back-->
                        @if(formGroup.get('fornecedor')?.hasError('apiError')) {
                            <span>{{formGroup.get('fornecedor')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                    <!--Editora-->
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Editora</mat-label>
                    <mat-select formControlName="editora" id="editora_id">
                        @for (editora of editoras; track editora) {
                            <mat-option [value]="editora">
                                {{editora.nome}}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('editora')
                                    && formGroup.get('editora')?.invalid
                                    && formGroup.get('editora')?.touched">
                                    {{getErrorMessage('editora', formGroup.get('editora')?.errors)}}

                                     <!-- Error Back-->
                        @if(formGroup.get('editora')?.hasError('apiError')) {
                            <span>{{formGroup.get('editora')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                <!--Preco-->
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Preço</mat-label>
                    <input matInput type="number" formControlName="preco" #inputPreco>
                    <mat-error *ngIf="formGroup.get('preco')
                                    && formGroup.get('preco')?.invalid 
                                    && formGroup.get('preco')?.touched">
                        {{ getErrorMessage('preco', formGroup.get('preco')?.errors) }}

                         <!-- Error Back-->
                         @if(formGroup.get('preco')?.hasError('apiError')) {
                            <span>{{formGroup.get('preco')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                 <!--Classificacao-->
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label> Classificação </mat-label>
                        <mat-select formControlName="classificacao" name="classificacao">
                        <mat-option value="1">Livre</mat-option>
                        <mat-option value="2">10 Anos</mat-option>
                        <mat-option value="3">12 Anos</mat-option>
                        <mat-option value="4">14 Anos</mat-option>
                        <mat-option value="5">16 Anos</mat-option>
                        <mat-option value="6">18 Anos</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('classificacao')
                                    && formGroup.get('classificacao')?.invalid 
                                    && formGroup.get('classificacao')?.touched">
                        {{ getErrorMessage('classificacao', formGroup.get('classificacao')?.errors) }}

                         <!-- Error Back-->
                         @if(formGroup.get('classificacao')?.hasError('apiError')) {
                            <span>{{formGroup.get('classificacao')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                    <!--Genero-->
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Gênero</mat-label>
                    <mat-select formControlName="generos" name="generos" multiple>
                        @for (genero of generos; track genero.id) {
                            <mat-option [value]="genero">
                                {{genero.nome}}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('generos')
                                    && formGroup.get('generos')?.invalid
                                    && formGroup.get('generos')?.touched">
                                    {{getErrorMessage('generos', formGroup.get('generos')?.errors)}}

                                     <!-- Error Back-->
                        @if(formGroup.get('generos')?.hasError('apiError')) {
                            <span>{{formGroup.get('generos')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

                <!--Autor-->
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Autor</mat-label>
                    <mat-select formControlName="autores" name="autores" multiple>
                        @for (autor of autores; track autor.id) {
                            <mat-option [value]="autor">
                                {{autor.nome}}
                            </mat-option>
                        }
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('autores')
                                    && formGroup.get('autores')?.invalid
                                    && formGroup.get('autores')?.touched">
                                    {{getErrorMessage('autores', formGroup.get('autores')?.errors)}}

                                     <!-- Error Back-->
                        @if(formGroup.get('autores')?.hasError('apiError')) {
                            <span>{{formGroup.get('autores')?.getError('apiError')}}</span> 
                         }
                    </mat-error>
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button class="cancel-button" (click)="cancelar()">Cancelar</button>
            <button mat-raised-button *ngIf="formGroup?.get('id')?.value" class="excluir-button" (click)="excluir()" [disabled]="formGroup.invalid">Excluir</button>
            <button mat-raised-button class="save-button" (click)="salvar()" >Salvar</button>
        </mat-card-actions>
    </mat-card>
</div>
